In [2]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [4]:
list2=[10,20,14,55,43,87,76]
print(list2)
print("number of items in the list2:\n",len(list2))

[10, 20, 14, 55, 43, 87, 76]
number of items in the list2:
 7

In [5]:
word="Artificial Intelligence"
print(word)
for i in word:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [6]:
list1=['Name','Age','Profession']
for i in list1:
    print("-Your",i,"-")

-Your Name -
-Your Age -
-Your Profession -

In [7]:
tuples=(1, 'Welcome', 2, 'Hope')
print(tuples)

(1, 'Welcome', 2, 'Hope')

In [8]:
tuple1=(0, 1, 2, 3)
tuple2=('Python', 'HOPE')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('Python', 'HOPE'))

In [9]:
list=[20,10,16,19,25,1,276,188]
print(tuple(list))
for i in list:
    if i %2 != 0:
        print(i,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [10]:
list=[20,10,16,19,25,1,276,188]
print(tuple(list))
for i in list:
    if i %2 == 0:
        print(i,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even